<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>

<h1>Login</h1>


<% if(data != null) { %>
    <% if(data.error != null) { %>
        <h1> <%= data.error %> </h1>

    <% } %>
<% } %>

<form name="login-form" method="POST">

    <label>username
        <input name="username" type="text" />
    </label>

    <br />

    <label>password
        <input name="password" type="password" />
    </label>

    <br />

    <label>Login
        <input type="submit" />
    </label>

</form>

</body>
</html>